{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 64
        },
        "modules": false,
        "loose": true
      }
    ],
    "@babel/react",
    ["@babel/stage-0", { "decoratorsLegacy": true }]
  ]
}
