{
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 64
        }
      }
    ],
    "@babel/react"
  ]
}
