{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 64
        }
      }
    ],
    "@babel/react"
  ]
}
