$bradius: 3px;
$stripe-width: $bradius*1.2;
$primary-color: #555;
$unimportant-color: #ccc;
$secondary-color: #aaa;
$accent-color: #eb4a42;
$light-bg-color: #eaeaea;
$disabled-btn-bg-color: #e0e0e0;
$disabled-btn-color: #bfbfbf;
